.spinner{
    animation-name: spin;
    animation-duration:  3s;
    animation-timing-function: linear;
    opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        color: $tertiaire;
        z-index: -1;
        font-size: 8em;
}

@keyframes spin{
    0%{
        opacity: 1;
        z-index: 3;
        transform: translate(-50%, -100%);
    }
    100%{
        transform: translate(-50%, -100%) rotate(580deg);
        opacity: 1;
        z-index: 3;
    }
}
.bg-loading{
    animation-name: bganimation;
    animation-duration: 4s;
}

.boxload{
    @include logochargement;
    position: absolute;
    animation-name: logo;
   animation-duration: 4s;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    border: solid 1px black;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: $primaire;
        height: 100%;
        width: 200%;
        animation-name: barre;
        animation-duration: 3s;
    }
}
@keyframes bganimation {
    0% {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: white;
        opacity: 0.7;
        z-index: 1;
    }

    80% {
        position: fixed;
        background-color: white;
        opacity: 0.7;
        z-index: 1;
        height: 100vh;
        width: 100%;
    }

    99% {
        opacity: 0;
        z-index: 1;

    }

    100% {
        position: fixed;
        display: none;
    }
}

@keyframes logo{
    0%{
        position: fixed;
        z-index: 2;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.8);
        border: solid 2px black;
        border-radius: 15px;
        opacity: 1;
    }
    80%{
        position: fixed;
        z-index: 2;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.8);
        border: solid 2px black;
        opacity: 1;
        color: black;
        
    }
    81%{
        color: green;
        border: solid 2px green;
        transform: translate(-50%, -50%) scale(1.8);
    }
    83%{
        transform: translate(-50%, -50%) scale(1.9);
        color: green;
        border: solid 2px green;
        top: 60%;
    }
    100%{
        z-index: 2;
        position: fixed;
        opacity: 0;
    
    }
}

@keyframes barre{
    0%{
        width: 0%;
    }
    80%{
        width: 200%;
    }
}

@keyframes volets{
    0%{
        transform: rotateX(-90deg);
    }
    50%{
        transform: rotateX(-90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes volets2{
    0%{
        transform: rotateX(-90deg);
    }
    55%{
        transform: rotateX(-90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes volets3{
    0%{
        transform: rotateX(-90deg);
    }
    60%{
        transform: rotateX(-90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}