@media screen and (min-width: 703px) {
    //index
    #point-map{
        left: 40%;
    }
    nav{
        text-align: center;
    }
    .main-list{
        margin: auto;
        max-width: 500px;
    }
    .section{
        .titre{
        text-align: center;
        font-size: 4em;
        }
        .w-cards{
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            .wrapper-card{
                width: 30%;
                max-width: 300px;
                margin-right: 15px;
            }
        }

    }
    //pages
    .main-restos{
        margin-top: 30px;
    }
    .resto{
        margin-top: 500px;
        text-align: center;
        font-size: 3em;
        .card__like{
            font-size: 1em;
        }
        .card__like-on{
            font-size: 1em;
        }
    }
    .section-desktop{
        display: flex;
        height: 400px;
        box-shadow: 0px 0px 12px gray;
        .box-left{
            width: 40%;
            position: relative;
            .w-left{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .w-box{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            width: 60%;
            max-width: 600px;
            
            .produit{
                width: 100%;
            }
        }
    }
    footer{
        display: flex;
        flex-flow: column;
        text-align: right;
    
    }
}

@media screen and (min-width: 1020px)
{
    #point-map{
        left: 42%;
    }
}