//index
.w-bouton {
    text-align: center;
}

.button {
    @include bouton;
    transition:  opacity 1s;
    &:hover{
        opacity: 0.8;
    }
}

nav {
    background: $gris-3;
    padding: 20px 5% 40px 5%;
    font-family: $roboto;
    font-weight: 500;



    ul {
        text-align: center;

        a {
            display: block;
            position: relative;
            padding: 25px 0;
            margin-bottom: 20px;
            border-radius: 15px;
            background: $gris-2;
            width: 100%;
            box-shadow: 6px 6px 6px $gris-1;
            transition: 1s;
            &:hover {
                box-shadow: 6px 6px 8px $font-2;
                

                i {
                    color: $primaire;
                }
            }

            .fa-solid {
                position: absolute;
                left: 30px;
                color: gray;
                font-size: 20px;
            }

            span {
                position: absolute;
                top: 25px;
                left: -10px;
                background: $primaire;
                color: $font-3;
                border-radius: 100%;
                padding: 3px 6px;

            }
        }
    }

}

.section {
    background: $gris-2;
    padding: 20px 5% 50px 5%;
}

.wrapper-card {
    position: relative;
    margin: 30px 0;
    background: $gris-2;

    .nouveau {
        font-family: $roboto;
        position: absolute;
        top: 5%;
        right: 5%;
        background: #99E2D0;
        border: solid 1px #008766;
        color: #008766;
        padding: 5px;

        &:hover {
            font-weight: 500;
            transition: 0.5s;
        }

    }
}

.card {
    display: block;
    box-shadow: 6px 6px 6px $gris-1;
    border-radius: 25px;
    background: $gris-3;
    transition: box-shadow 1s;
    img{
        height: 200px;
    }

    &:hover {
        box-shadow: 6px 6px 8px $font-2;
    }

    &__img {
        width: 100%;
        border-radius: 25px 25px 0 0;
        background: $gris-2;
        margin-bottom: 10px;
    }

    &__nom {
        font-family: $roboto;
        font-weight: 600;
        position: relative;
        margin: 10px 5%;
    }

    &__descr {
        font-family: $roboto;
        font-weight: 300;
        margin: 0 5%;
        padding-bottom: 15px;
    }

    &__like {
        position: absolute;
        font-size: 20px;
        right: 1%;
        z-index: 1;

        &:hover {
            & .card__like-on {
                opacity: 1;
            }
        }

        &-on {
            position: absolute;
            font-size: 20px;
            top: 0;
            right: 0%;
            bottom: 0%;
            opacity: 0;
            left: 0%;
            color: $primaire;
            z-index: 1;
            transition: opacity 1s;

        }
    }

}

//modif pour pages

.main-restos {
    background: $gris-2;
    padding: 0px 5% 20px;


}

.sections {

    &__sous_titre {
        @include section__sous_titre;
        padding-top: 30px;
    }

    .tiret {
        border: 1px solid $tertiaire;
        margin: 5px 0 10px 0;
        width: 53px;
    }

    .box {
        margin: 30px 0;
    }

    &__elements {
        
        background: $gris-3;
        border-radius: 15px;
        box-shadow: 4px 4px 5px $gris-1;
        display: flex;
        overflow: hidden;
        transform-origin: 50% 90%;
        animation-duration: 3s;

        &:hover {
            box-shadow: 4px 5px 8px $font-1;
            .ok {
                width: 70px;
            }

            .fa-solid {
                transform: rotate(360deg);
            }
        }
    }
}
.un{
    animation-name: volets;
}
.deux{
    animation-name: volets2;
}
.trois{
    animation-name: volets3;
}
.produit {
    width: 100%;
    padding: 15px 0 0 15px;
    line-height: 20px;
    overflow: hidden;

    &__nom {
        @include produit__nom;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: "...";

    }

    &__descr {
        @include produit__descr;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: "...";
    }
}

.achat {
    display: flex;

    .prix {
        width: 50px;
        text-align: center;
        padding: 10px;

        .leprix {

            @include produit__nom;
            padding: 10px;
        }

    }

    .ok {
        background-color: $tertiaire;
        text-align: center;
        width: 0px;
        transition: all .4s ease-in-out;

        .fa-solid {
            margin-top: 25px;
            color: aliceblue;
            font-size: 25px;
            transition: all .4s ease-in-out;
        }
    }
}