@import "libs/reset.scss";
@import "variables.scss";
@import "mixin.scss";

body {
    h1 {
        @include sous-titres
    }
}

.header {
    background: $bg-color1;
    text-align: center;
    font-family: $texte;

    &__figure {
        background: $bg-color2;

        .logo {
            width: 50%;
            margin: 20px 0 10px 0;
        }
    }

    .map {
        padding: 20px;
        font-family: $texte;
        font-weight: bold;
        background-color: $map-color;
        border-top: solid 1px $font-1 ;
        color: $font-1;

        p {
            position: relative;

            i {
                position: absolute;
                left: 70px;
            }
        }
    }

    h1 {
        @include sous-titres;
    }

    .header__text {
        color: $font-2;
        font-weight: 300;
        margin: 10px 15px;
    }

    .button {
        @include bouton;

    }
}

nav {
    background: $bg-color2;
    padding: 20px 5%;
    font-family: $texte;
    font-weight: 500;

    h1 {
        @include sous-titres;
    }

    ul {
        text-align: center;

        a {
            display: block;
            position: relative;
            padding: 20px 0;
            margin-bottom: 20px;
            border-radius: 15px;
            background: $bg-color1;
            width: 100%;
            box-shadow: 6px 6px 6px $map-color;

            &:hover {

                i {
                    color: $primaire;
                }
            }

            .fa-solid {
                position: absolute;
                left: 30px;
                color: gray;
            }

            span {
                position: absolute;
                top: 16px;
                left: -5px;
                background: $primaire;
                color: $font-3;
                border-radius: 100%;
                padding: 3px;

            }
        }
    }

}

section {
    background: $bg-color1;
    padding: 50px 5%;
}
.wrapper-card{
    position: relative;
    margin: 30px 0;
    background: $bg-color1;
    .nouveau{
        font-family: $texte;
        position: absolute;
        top: 5%;
        right: 5%;
        background: #99E2D0;
        border: solid 1px 	#008766;
        color: 	#008766;
        padding: 5px;
        &:hover{
            font-weight: 500;
            transition: 0.5s;
        }
        
    }
}
.card {
    display: block;
    box-shadow: 6px 6px 6px $map-color;
    border-radius: 25px;
    background: $bg-color2;
        &__img {
            width: 100%;
            border-radius: 25px 25px 0 0;
            background: $bg-color1;
        }

        &__nom {
            font-family: $texte;
            font-weight: 500;
            position: relative;
            margin: 10px 5%;
        }

        &__descr {
            font-family: $texte;
            font-weight: 300;
            margin: 0 5%;
            padding-bottom: 15px;
        }
        &__like{
            position: absolute;
            font-size: 20px;
            right: 5%;
            bottom: 10%;
            &:hover{
                display: none;
            }

        }
        &__like-on{
            position: absolute;
            font-size: 20px;
            right: 5%;
            bottom: 10%;
            color: $font-3;
            &:hover{
                color: $primaire;
                transition: 1s linear;
            }
            
        }
}
footer{
    background: $font-1;
    padding: 30px;
}