@import "libs/reset.scss";
@import "variables.scss";
@import "mixin.scss";
@import "animation.scss";
@import "header.scss";
@import "mains.scss";

footer{
    background: $font-1;
    color: $font-3;
    padding: 30px;
    
    h3{
        @include shrikhand;
        margin-bottom: 20px;
    }
    ul{
        line-height: 25px;
    a{
        color: $font-3;
        i{
            width: 20px;
            color: $font-3;
            font-size: 10px;
        }
    }
}
}
@import "desktop.scss";