
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$titres: 'Shrikhand', cursive;
$roboto: 'roboto', sans-sherif;
/*couleurs site*/
$primaire: #9356DC;
$secondaire: #FF97DA;
$tertiaire: #99E2D0;

/*couleur des background*/
$map-color: #EAEAEA;
$bg-color1: #f6f6f6;
$bg-color2: #ffffff;

/*couleur des polices*/

$font-1: #525050;
$font-2: #464242;
$font-3: #ffffff;