*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
header{
    padding: 15px;
}
.logo{
    text-align: center;
    position: relative;
}
.logo img{
    width: 50%;
}
header a{
    position: absolute;
}



footer{
    padding: 15px;
    line-height: 24px;
    background-color: #4D4D4D;
}
footer h2{
    margin-bottom: 15px;
    color: #EAEAEA;
}
footer a{
    color: white;
}