/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

h2 {
  font-size: 2em;
}

/*couleurs site*/
/*couleur des background*/
/*couleur des polices*/
.spinner {
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #99E2D0;
  z-index: -1;
  font-size: 8em;
}

@keyframes spin {
  0% {
    opacity: 1;
    z-index: 3;
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, -100%) rotate(580deg);
    opacity: 1;
    z-index: 3;
  }
}
.bg-loading {
  animation-name: bganimation;
  animation-duration: 4s;
}

.boxload {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  color: black;
  position: absolute;
  animation-name: logo;
  animation-duration: 4s;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  border: solid 1px black;
  border-radius: 15px;
  padding: 5px;
  overflow: hidden;
}
.boxload::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  height: 100%;
  width: 200%;
  animation-name: barre;
  animation-duration: 3s;
}

@keyframes bganimation {
  0% {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 0.7;
    z-index: 1;
  }
  80% {
    position: fixed;
    background-color: white;
    opacity: 0.7;
    z-index: 1;
    height: 100vh;
    width: 100%;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    position: fixed;
    display: none;
  }
}
@keyframes logo {
  0% {
    position: fixed;
    z-index: 2;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    border: solid 2px black;
    border-radius: 15px;
    opacity: 1;
  }
  80% {
    position: fixed;
    z-index: 2;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    border: solid 2px black;
    opacity: 1;
    color: black;
  }
  81% {
    color: #99E2D0;
    border: solid 2px #99E2D0;
    transform: translate(-50%, -50%) scale(1.8);
  }
  83% {
    transform: translate(-50%, -50%) scale(1.9);
    color: #99E2D0;
    border: solid 2px #99E2D0;
    top: 60%;
  }
  100% {
    z-index: 2;
    position: fixed;
    opacity: 0;
  }
}
@keyframes barre {
  0% {
    width: 0%;
  }
  80% {
    width: 200%;
  }
}
@keyframes volets {
  0% {
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes volets2 {
  0% {
    transform: rotateX(-90deg);
  }
  55% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes volets3 {
  0% {
    transform: rotateX(-90deg);
  }
  60% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
html {
  background-color: #f6f6f6;
}

header .titre, main .titre {
  font-family: "roboto", sans-sherif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 30px 0;
}

.header {
  background-color: #f6f6f6;
  text-align: center;
  font-family: "roboto", sans-sherif;
}
.header .retour {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 25px;
}
.header .retour a {
  color: #464242;
}
.header__figure {
  background: #ffffff;
  display: block;
}
.header__figure .logo {
  width: 50%;
  margin: 20px 0 10px 0;
}
.header__img {
  width: 100%;
}
.header__img img {
  width: 100%;
  height: 250px;
}
.header .map {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "roboto", sans-sherif;
  font-weight: 500;
  background-color: #EAEAEA;
  border-top: solid 1px #525050;
}
.header .map__text {
  color: #464242;
  position: relative;
}
.header .map__text i {
  position: absolute;
  left: -30px;
  color: #464242;
}
.header .header__text {
  color: #464242;
  font-weight: 400;
  margin: 10px 15px;
}

.bg-palette {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat;
  background-size: 100% 100%;
}

.bg-lanote {
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: 100% 100%;
}

.bg-francaise {
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.bg-delice {
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.resto {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  color: black;
  margin-top: 200px;
  background: #f6f6f6;
  padding: 40px 5% 0px;
  border-radius: 25px 25px 0 0;
  text-align: left;
}
.resto .card__like {
  right: 10%;
}

.w-bouton {
  text-align: center;
}

.button {
  font-family: "roboto", sans-sherif;
  font-weight: 500;
  background: linear-gradient(to top left, #9356DC 10%, #ec36a0);
  border: none;
  border-radius: 50px;
  margin: 30px auto 30px;
  padding: 15px;
  min-width: 170px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 3px 1px 12px gray, -3px -1px 12px #EAEAEA;
}

nav {
  background: #ffffff;
  padding: 20px 5% 40px 5%;
  font-family: "roboto", sans-sherif;
  font-weight: 500;
}
nav ul {
  text-align: center;
}
nav ul a {
  display: block;
  position: relative;
  padding: 25px 0;
  margin-bottom: 20px;
  border-radius: 15px;
  background: #f6f6f6;
  width: 100%;
  box-shadow: 6px 6px 6px #EAEAEA;
  transition: 1s;
}
nav ul a:hover {
  box-shadow: 6px 6px 8px #464242;
}
nav ul a:hover i {
  color: #9356DC;
}
nav ul a .fa-solid {
  position: absolute;
  left: 30px;
  color: gray;
  font-size: 20px;
}
nav ul a span {
  position: absolute;
  top: 25px;
  left: -10px;
  background: #9356DC;
  color: #ffffff;
  border-radius: 100%;
  padding: 3px 6px;
}

.section {
  background: #f6f6f6;
  padding: 20px 5% 50px 5%;
}

.wrapper-card {
  position: relative;
  margin: 30px 0;
  background: #f6f6f6;
}
.wrapper-card .nouveau {
  font-family: "roboto", sans-sherif;
  font-weight: 500;
  position: absolute;
  top: 5%;
  right: 5%;
  background: #99E2D0;
  border: solid 1px #008766;
  border-radius: 10%;
  color: #008766;
  padding: 8px 10px;
  transition: all 0.5s;
}
.wrapper-card .nouveau:hover {
  font-size: 1.2em;
}

.card {
  display: block;
  box-shadow: 6px 6px 6px #EAEAEA;
  border-radius: 25px;
  background: #ffffff;
  transition: box-shadow 1s;
}
.card img {
  height: 200px;
}
.card:hover {
  box-shadow: 6px 6px 8px #464242;
}
.card__img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  background: #f6f6f6;
  margin-bottom: 10px;
}
.card__nom {
  font-family: "roboto", sans-sherif;
  font-weight: 600;
  position: relative;
  margin: 10px 5%;
}
.card__descr {
  font-family: "roboto", sans-sherif;
  font-weight: 300;
  margin: 0 5%;
  padding-bottom: 15px;
}
.card__like {
  position: absolute;
  font-size: 30px;
  right: 1%;
  z-index: 1;
}
.card__like:hover .card__like-on {
  opacity: 1;
}
.card__like-on {
  position: absolute;
  font-size: 30px;
  top: 0;
  right: 0%;
  bottom: 0%;
  opacity: 0;
  left: 0%;
  z-index: 1;
  transition: opacity 1s;
  background-image: linear-gradient(225deg, #9356DC, #FF97DA);
  color: transparent;
  -webkit-background-clip: text;
}

.main-restos {
  background: #f6f6f6;
  padding: 0px 5% 20px;
}

.sections__sous_titre {
  font-family: "roboto", sans-sherif;
  color: #525050;
  font-size: 1em;
  padding-top: 30px;
}
.sections .tiret {
  border: 1px solid #99E2D0;
  margin: 5px 0 10px 0;
  width: 53px;
}
.sections .box {
  margin: 30px 0;
}
.sections__elements {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 5px #EAEAEA;
  display: flex;
  overflow: hidden;
  transform-origin: 50% 90%;
  animation-duration: 3s;
}
.sections__elements:hover {
  box-shadow: 4px 5px 8px #525050;
}
.sections__elements:hover .ok {
  width: 70px;
}
.sections__elements:hover .fa-solid {
  transform: rotate(360deg);
}

.un {
  animation-name: volets;
}

.deux {
  animation-name: volets2;
}

.trois {
  animation-name: volets3;
}

.produit {
  width: 100%;
  padding: 15px 0 0 15px;
  line-height: 20px;
  overflow: hidden;
}
.produit__nom {
  font-family: "roboto", sans-sherif;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}
.produit__descr {
  font-family: "roboto", sans-sherif;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}

.achat {
  display: flex;
}
.achat .prix {
  width: 50px;
  text-align: center;
  padding: 10px;
}
.achat .prix .leprix {
  font-family: "roboto", sans-sherif;
  font-weight: 500;
  padding: 10px;
}
.achat .ok {
  background-color: #99E2D0;
  text-align: center;
  width: 0px;
  transition: all 0.4s ease-in-out;
}
.achat .ok .fa-solid {
  margin-top: 25px;
  color: aliceblue;
  font-size: 25px;
  transition: all 0.4s ease-in-out;
}

footer {
  background: #525050;
  color: #ffffff;
  padding: 30px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  color: #ffffff;
  margin-bottom: 20px;
}
footer ul {
  line-height: 25px;
}
footer ul a {
  color: #ffffff;
}
footer ul a i {
  width: 20px;
  color: #ffffff;
  font-size: 10px;
}

@media screen and (min-width: 703px) {
  nav {
    text-align: center;
  }

  .main-list {
    margin: auto;
    max-width: 500px;
  }

  .section .titre {
    text-align: center;
    font-size: 4em;
  }
  .section .w-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .section .w-cards .wrapper-card {
    width: 30%;
    max-width: 300px;
    margin-right: 15px;
  }

  .main-restos {
    margin-top: 30px;
  }

  .resto {
    margin-top: 500px;
    text-align: center;
    font-size: 3em;
  }
  .resto .card__like {
    font-size: 1em;
  }
  .resto .card__like-on {
    font-size: 1em;
  }

  .section-desktop {
    display: flex;
    margin-bottom: 30px;
    min-height: 200px;
    padding: 30px;
    box-shadow: 0px 0px 12px gray inset;
    border-radius: 25px;
  }
  .section-desktop .box-left {
    width: 40%;
    position: relative;
  }
  .section-desktop .box-left .w-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-desktop .w-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 60%;
    max-width: 600px;
  }
  .section-desktop .w-box .box {
    margin: 10px 0;
  }
  .section-desktop .w-box .box .produit {
    width: 100%;
  }

  footer {
    display: flex;
    flex-flow: column;
    text-align: right;
  }
  footer .fa-solid {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
